@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  background-color: skyblue;
  background-image: url("/clouds.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.75em 1em;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

header {
  margin-top: 1rem;
}

.droparea {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  max-width: 100%;
  border: 2px dashed grey;
  border-radius: 15px;
  padding: 2rem 0;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
}

/* droparea and any of its child elements */
.droparea,
.droparea * {
  cursor: pointer;
}

.droparea:hover {
  /* color: #616778; */
  border-color: #00c300;
}

.droparea i {
  font-size: 3rem;
  padding-top: 1rem;
}

.droparea p:first-of-type {
  font-weight: bolder;
  font-size: 0.8rem;
}

.droparea--in-use {
  border-color: #00c300;
}

/* .green-border {
  border-color: #00c300;
} */

/*==== results section ====*/

.results {
  display: flex;
  background-color: #fff;
  margin: 1rem auto;
  padding: 0.7rem;
  border: 1px solid rgb(187, 203, 208);
  width: 100%;
  max-width: 960px;
}

.results__list {
  width: 100%;
}

.results__list li {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 4px;
  padding: 0.5rem;
  border: 1px solid rgb(207, 219, 222);
  background-color: rgb(240, 240, 240);
}

.results__list div {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results__list .divDL {
  width: 100%;
}

.results__list p {
  white-space: nowrap;
}

.results__title {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0.3rem;
}

.results__bar {
  width: 33%;
  max-width: 292px;
  height: 30px;
  position: relative;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --compressing: #f3d216;
}

.results__bar--compressing {
  background: var(--compressing);
  animation: compressing 2s linear infinite;
}

@keyframes compressing {
  0% {
    background: var(--compressing);
  }
  50% {
    background: #fff;
  }
  100% {
    background: var(--compressing);
  }
}

.results__bar--complete {
  background: #6fe508;
}

.results__bar--error {
  background: #f33737;
}

::-moz-progress-bar {
  background: rgb(146, 237, 20);
}

::-webkit-progress-inner-element {
  background: #fff;
  border: 1px solid rgb(207, 219, 222);
  padding: 3px;
  border-radius: 15px;
}

::-webkit-progress-bar {
  background: #fff;
  border-radius: 15px;
  height: 22px;
}

::-webkit-progress-value {
  background: rgb(146, 237, 20);
  border-radius: 15px;
}

.finished::before {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -25px;
  content: "Finished";
  color: rgb(54, 58, 67);
  font-size: 0.7rem;
}

.error::before {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -25px;
  content: "File Error";
  color: rgb(54, 58, 67);
  font-size: 0.7rem;
}

.error::-webkit-progress-value {
  background: rgb(243, 93, 55);
}

.results__title,
.results__download,
.results__saved {
  font-weight: bolder;
}

.results__size {
  display: none;
  color: #7eb631;
  font-size: 0.7rem;
  min-width: 52px;
}

.results__download {
  width: 100%;
  text-align: right;
}

.results__download a {
  cursor: pointer;
  padding-left: 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.results__download a,
.results__download a:hover,
.results__download a:active,
.results__download a:visited {
  color: #333;
}

.results__download-all {
  margin: 0;
  padding: 0.5rem 1.25rem;
  border: none;
  border-bottom: 0.3rem solid #788990;
  border-radius: 0.2rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: #0aa574;
  border-bottom-color: #029365;
  text-shadow: 0.1rem 0.1rem 0 #018259;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.results__download-all:hover {
  background-color: #02c487;
  border-bottom-color: #029c6b;
}

.results__dropbox {
  margin: 0;
  padding: 0.5rem 1.25rem;
  border: none;
  border-bottom: 0.3rem solid #788990;
  border-radius: 0.2rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: #1081de;
  border-bottom-color: #056ec5;
  text-shadow: 0.1rem 0.1rem 0 #0561ae;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.results__dropbox:hover {
  background-color: #088cf9;
  border-bottom-color: #0575d1;
}

.totals {
  width: 26rem;
  z-index: 8;
  margin: 0 auto;
  padding: 1.68rem 0.8rem 1.52rem;
  color: #505563;
  background-color: #f0f0f0;
  border: 0.1rem solid #bbcbd0;
  border-radius: 0.2rem;
  box-shadow: inset 0.3rem 0.3rem 0 #fff, inset -0.3rem -0.3rem 0 #fff;
  margin-top: 1rem;
}

.totals__message {
  text-align: right;
  font-family: OpenSans, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 1rem;
}

.totals__percent {
  text-align: center;
  font-family: OpenSans, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 46px;
  letter-spacing: 2px;
  line-height: 44px;
}

.totals__size-saved {
  color: #7eb631;
  font-size: 14px;
  line-height: 23px;
}

.results__saved {
  display: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

@media only screen and (min-width: 480px) {
  .droparea p:first-of-type {
    font-size: 1rem;
  }
  .results__download {
    text-align: center;
  }
  .results__saved {
    display: block;
  }
}

@media only screen and (min-width: 640px) {
  .results__size {
    display: block;
  }
}
